.charcater-card{
    width: 300px;
    margin: 20px;

    position: relative;
}

.charcater-card__image {
    width: 100%;
    height: 300px;
}

.charcater-card__name {
   position: absolute;
   bottom: 7%;
   background-color: aquamarine;
}
