.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0; 
    top: 0; 
    right: 0; 
    bottom: 0;
  
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, .5);
  }

  .cross {
    position: absolute;
    top: 10px;
    right: 15px;

    font-size: 20px;
    color: white;
    cursor: pointer;
  }


.big-card {
  width: 70%;
  height: 50%;

  position: relative;
  display: flex;

  background-color: rgb(47, 44, 44);
  border-radius: 15px;
  
}

.big-card__imgage-container {
  width: 40%;
  height: 100%;
 }

 .big-card__image {
  width: 100%;
  height: 100%;

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
 }

 .big-card__info-container {
  width: 60%;
  display: flex;
  flex-direction: column;

  padding-left: 20px;;
}

.big-card__name {
  font-size: 30px;
  color: white;
}

.big-card__status {
  font-size: 28px;
  color: white;
  font-weight: 600;
}

.html-bull {
  font-size: 40px;
  margin-right: 10px;
}